
section{
    background-color:#000000;
    color: rgb(224, 224, 224);
    display: flex;
    left: 0px;
    top: 0px;
    width: 98vw;
    height: 95vh;
    padding:0px 50px;
    text-rendering: geometricPrecision;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: safe;
    border: 1px solid rgba(255, 255, 255, 0.473);
    overflow:hidden;
}
section.landingPage{
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden !important;
    display: flex;
    
}
section:nth-child(2){
color: #1d1d1d;
background-color: rgb(224, 224, 224);
height: fit-content;
}
section h4{
    padding: 0px 15px;
    margin: 0px;

    font-size: 30px;
}
section h1{
    font-size: 80px;
    text-transform: capitalize;
    letter-spacing: -1.5px;
}
.type{
    padding: 0px;
    height: 100px;
    overflow: hidden;
    min-width: 5px;
    font-size: 45pt;
    letter-spacing: -2px;
    word-spacing: -5px;
    font-family: var(--font-roboto-mono);
    margin: 20px 0px 80px 0px ;
}
section Button{
    position: relative;
    height: 50px;
    width: 150px;
}

section.proj{
    position: relative;
    padding: 0px;
    width: 100vw;
    overflow: hidden;
}


.ProjView{
    display: grid;
    width: 90vw;
    box-sizing: border-box;
   padding: 10px;

    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.ProjView li {
    text-decoration: none;
    list-style: none;
}

.ProjView li p{
    width:fit-content;
    font-size:19pt;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000b6;
    line-height: 50px;
    width: 40vw;
    padding: 5px;
}
.ProjView li h3 {
    font-size: 24pt;
}
