
.Conveyor{
    box-sizing: border-box;
    width: 80vw;
    margin-top: 10px;
    min-height: 40px;
    background-color: rgb(56, 56, 56);
    display:flex;
}
.Conveyor:nth-child(1) div{
    transition: all 1s linear;
}
.Conveyor:nth-child(2) div{
    transition: all 2s linear;
}
.Conveyor:nth-child(3) div{
    transition: all 3s linear;
}
