
.Conveyor{
    box-sizing: border-box;
    width: 90vw;
    margin-top: 10px;
    height: 70px;
    background-color: rgba(56, 56, 56, 0.089);
   
    overflow: hidden;
 
    
}
.Conveyor:nth-child(1) img{
    transition: all 2s linear;
}
.Conveyor:nth-child(2) img{
    transition: all 4s linear;
}
.Conveyor:nth-child(3) img{
    transition: all 6s linear;
}
.Conveyor:nth-child(4) img{
    transition: all 8s linear;
}
img.skillbadge{
   width: 150px ;
   height: 60px;
   border: 0.6px solid rgb(44, 44, 44);
   border-radius: 10px;
   object-fit: fit;
   box-sizing: border-box;
 
  
     overflow: hidden;
     margin: 5px 10px;

}
.ProjView li{
    width: 50vw;
    margin: 50px 0px;
}
.projLink{
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    text-decoration: none;
}
.projLink:hover{
    color: var(--variant-outlinedBorder);
}
