
.Conveyor{
    box-sizing: border-box;
    width: 80vw;
    margin-top: 10px;
    min-height: 40px;
    background-color: rgb(56, 56, 56);
    display:flex;
}
.Conveyor:nth-child(1) div{
    transition: all 1s linear;
}
.Conveyor:nth-child(2) div{
    transition: all 2s linear;
}
.Conveyor:nth-child(3) div{
    transition: all 3s linear;
}
.skillbadge{
    opacity: 1;
   height: 50px border-box;
   border: 0.6px solid rgb(44, 44, 44);
   border-radius: 10px;
   object-fit: contain;
    width:300px;
     overflow: hidden;
     margin: 5px 10px;

}

@keyframes move {
    0%{

        transform: translateX(-50px);
    }
    50%{
        transform: translateX(00px);
    }

    100%{
        opacity: 0;
        transform: translateX(0px);
    }
}
