
body,html{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-robotoc);
    width: 100vw;
    height: 300vh;
}
nav ul{
    display: flex;
    z-index: 5;
    position: absolute;
    right: 20px;
    width: 200px;
    text-decoration: none;
    justify-content: space-between;

}
nav ul li{
   justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
li a{
    color: #d3d3d3;
    
}
li a:hover {
color: white;
}
.skills img{
    width: 20%;
}