
body,html{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-roboto);
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
}
nav ul{
    display: flex;
    z-index: 5;
    position: absolute;
    right: 20px;
    width: 200px;
    text-decoration: none;
    justify-content: space-between;

}
nav ul li{
   justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
li a{
    color: #d3d3d3;
    
}
li a:hover {
color: white;
}
.skills img{
    width: 20%;
}

.proj-img{
  
     mask-image: linear-gradient(180deg,black 70%,transparent);
    top: -100px;
    width: 75%;
    height: auto;
  
}


.contrib-section{

}
.contrib-section::after{
    background-color: darkblue;
}